html,body{height:100%;width:100%;margin:0;font-size:1.2rem;font-family:serif;word-spacing:0.3rem; line-height:1.5;scroll-behavior: smooth}
body{background:#31FF0D}

.gridcontainer{display:flex;flex:1;flex-direction:column;word-wrap:break-word;overflow:hidden;gap:0.125rem}

a {text-decoration: underline;color:#1874CD}


.header{background:linear-gradient(to top, #FFD700 90%, #31FF0D); text-align:center;}
.logo {display:flex;justify-content: center; margin: 0 auto; max-width: 100px; max-height: 100px;padding:0}

.excelpagebuttons{text-align:center;margin: 0 auto; gap:0;padding: 0;display:grid;grid-template-columns:repeat(2, 1fr)}
.excelpagebuttons h5{margin:0.125rem}

.excelbutton{background: #CCCCCC; font-weight:bold; padding-left: 0.5rem; padding-right: 0.5rem;border-left: 0.5rem groove #31FF0D;
border-right: 0.5rem ridge #31FF0D;border-top: 0.5rem inset #31FF0D;border-bottom: 0.5rem inset #31FF0D;}
.excelbutton a{color:#B23AEE}
.otherbuttons a{color: #1874CD}
.otherbuttons{font-weight:bold; padding-left: 0.5rem; padding-right: 0.5rem;border-left: 0.5rem groove #31FF0D;
border-right: 0.5rem ridge #31FF0D;border-bottom: 0.5rem outset #31FF0D;border-top: 0.5rem inset #31FF0D;background: #CCCCCC}

.samecardscontainer{gap: 0.125rem;}
.excelcard001,.excelcard002,.excelcard003,.excelcard004{background:linear-gradient(to top, #FFD700 85%, #FF8C00);display: flex;flex-direction: column; justify-content: center;text-align: center;}
.excelcard001 p,.excelcard002 p,.excelcard003 p,.excelcard004 p ,ul{text-align: center; color:#1874CD; font-family:serif;word-spacing:2px; line-height:1.5;font-weight:normal; padding:0 3rem;margin:0.25rem auto}
.excelcard001 h5,.excelcard002 h5,.excelcard003 h5,.excelcard004 h5{color:#1874CD; font-weight:bold;text-align: center;margin:0.125rem;padding-top:1rem}
ul{list-style:none ;text-align:center;padding:0;margin-top:0.125rem}

.previewbutton{text-align:center ;border-radius: 0.25rem; background: linear-gradient(to bottom, #B23AEE, #00BFFF); color:#31FF0D;padding:0.25rem 1rem 0.25rem 1rem; text-decoration: none;margin: 1rem auto;}

.contacts{ background: #FFD700; display:flex;justify-content:center;font-weight:normal;color;#1874CD;gap:3 rem}

footer{background:linear-gradient(to bottom, #FFD700 95%, #31FF0D);text-align:center; color:#FF8C00;}
.endsection p{background: linear-gradient(to bottom,#CCCCCC 10%, #1874CD);background-clip: text;color: transparent;font-size:small}

@media(min-width:1000px){.excelpagebuttons{display: flex;} .samecardscontainer{display:grid;grid-template-columns:repeat(2, 1fr);} }




