 <style>
html,body{height:100%;width:100%;margin:0;font-size:1.2rem;font-family:serif;word-spacing:0.3rem; line-height:1.5;scroll-behavior: smooth}

body{background:#31FF0D}

.excelgrid{flex:1;display:flex;flex-direction:column; gap:0;margin-top:0}

.headergap{display: flex;flex-direction: column;}

.logocontainer{background:linear-gradient(to top, #FFD700 90%, #31FF0D);}

.logo{display: block;margin: 0 auto; max-width: 120px; max-height: 120px;padding-bottom:0} 

.excelheader{background:#FFD700 ;text-align:center; display:flex;gap:0.125rem;justify-content: center;padding:0 auto;margin:0 auto;padding: auto 0;margin: auto 0}

.excelbutton,.otherbuttons{margin:0 auto;padding:0 auto;margin: auto 0}

h5 a{color:inherit;}

.excelcard001,.excelcard002,.excelcard003,.excelcard004, p{text-align: center; color:#1874CD; font-family:serif;word-spacing:2px; line-height:1.5;font-weight:normal;}

.excelcontainer{flex:1;display:flex;flex-direction:column;word-wrap:break-word;overflow:hidden;padding:1rem;gap:0 ;margin-top:0;padding-top:0;padding-left:0;padding-right:0;padding-bottom:0;}

.excelbutton{background: #CCCCCC;color:#FF8C00; font-weight:bold; padding-left: 1rem; padding-right: 1rem;border-left: 0.5rem outset #31FF0D;
border-right: 0.5rem inset #31FF0D;border-top: 0.5rem ridge #31FF0D;border-bottom: 0.5rem inset #31FF0D}

.otherbuttons{color: #B23AEE;font-weight:bold; padding-left: 0.5rem; padding-right: 0.5rem;border-left: 0.5rem outset #31FF0D;
border-right: 0.5rem inset #31FF0D;border-bottom: 0.5rem ridge #31FF0D;border-top: 0.5rem ridge #31FF0D;background: #CCCCCC}

.excelprojects{background: #31FF0D; display:flex;flex-direction:column;gap:0.25rem;flex:5;justify-content:center;gap:0.25rem;margin-top: 1rem}

.excelcard001,.excelcard002,.excelcard003,.excelcard004{background:linear-gradient(to top, #FFD700 85%, #FF8C00);text-align: center;}

.excelprojects h5{color:#1874CD; font-weight:bold;}

ul{list-style:none ;text-align:center;padding:0}

.imagegrid{display: flex;flex:10;flex-direction: column;gap:1rem;width:100%;height:100%;padding: 0;margin: 0;justify-content:center}

.imagegrid img{display:block;width: 97%;height: 100%;min-height:275px;padding: 0;margin:0 auto;justify-content:center; }


.previewbutton,.nextbutton{border-radius: 0.25rem; background: linear-gradient(to bottom, #B23AEE, #00BFFF); color:#31FF0D; font-weight: normal;padding:0.25rem 1rem 0.25rem 1rem; text-decoration: none;}

.contacts{ display:flex;justify-content:center;font-weight:normal;color;#C1C1C1;gap:3 rem}

a {color:#1874CD ; text-decoration: underline;}

footer{background:linear-gradient(to bottom, #FFD700 95%, #31FF0D);text-align:center; color:#FF8C00;}

.endsection p{background: linear-gradient(to bottom,#CCCCCC 10%, #1874CD);background-clip: text;color: transparent;font-size:small}

@media (max-width: 1000px) {.excelprojects{grid-template-columns: 1fr;}}

@media only screen and (min-width:1080px) {body {font-size:1.5rem;}}

@media (max-width: 1000px) {.contacts {flex-direction: column;align-items: center;}

@media (max-width: 1000px) {.logo {width: 100px;height: 100px; }}
                        
</style>
