 <style>
html,body{height:100%;width:100%;margin:0;font-size:1.2rem;font-family:serif;word-spacing:0.3rem; line-height:1.5;scroll-behavior: smooth}

body{background:#31FF0D}

.grid{flex:1;display:flex;flex-direction:column; gap:0;margin-top:0}

.logo {display: block;margin: 0 auto; max-width: 120px; max-height: 120px;padding-bottom:0}

.header{background:linear-gradient(to top, #FFD700 90%, #31FF0D); color:#FF8C00;text-align:center;}
.header h4{margin:0 auto;padding: 0 auto;margin: auto 0}
.header p, .header h4{background: linear-gradient(to bottom, #B23AEE 30%,  #00BFFF);background-clip: text;color: transparent;font-weight:bold}

.gridcontainer{flex:1;display:flex;flex-direction:column;word-wrap:break-word;overflow:hidden;padding:1rem;gap:0 ;margin-top:0;padding-top:0;padding-left:0;padding-right:0;padding-bottom:0}
.allprojects{flex:2}
.projects h4{text-align:center; background: linear-gradient(to bottom, #B23AEE 30%,  #00BFFF);background-clip: text;color: transparent;padding-bottom:0;margin:0 auto;}
.allprojects{display:grid;grid-template-columns:repeat(2,1fr);grid-template-rows:repeat(1,1fr);gap:0.25rem;flex:2}

.intro{background:linear-gradient(to top, #FFD700 85%, #31FF0D)}
ul{list-style:none ;text-align:center;padding:0}

.excelcard, .powerbicard, .tableaucard, .accesscard,.networkscard{background:linear-gradient(to top, #FFD700 85%, #FF8C00)}
.intro p,.intro ul, .excelcard p, .powerbicard p, .tableaucard p, .accesscard p,.networkscard p{text-align: center; color:#1874CD; font-family:serif;word-spacing:2px; line-height:1.5;font-weight:normal; padding-left: 3rem;padding-right: 3rem}
.excelcard, .powerbicard, .tableaucard, .accesscard,.networkscard{display:flex;justify-content:center;align-items:center;text-align:center;flex-direction:column}
.excelcard p ,.networkscard p{padding-top:0;margin-top:0;}
.excelcard h4, .powerbicard h4, .tableaucard h4, .accesscard h4,.networkscard h4{color:#FF8C00; font-weight:bold;}
.viewbutton{border-radius: 0.25rem; background: linear-gradient(to bottom, #B23AEE, #00BFFF); color:#31FF0D;padding:0.25rem 1rem 0.25rem 1rem; text-decoration: none;}

.contacts{ display:flex;justify-content:center;font-weight:normal;color;#C1C1C1;gap:3 rem}

a {color:#1874CD ; text-decoration: underline;}

footer{background:linear-gradient(to bottom, #FFD700 95%, #31FF0D);text-align:center; color:#FF8C00;}

.endsection p{background: linear-gradient(to bottom,#CCCCCC 10%, #1874CD);background-clip: text;color: transparent;font-size:small}

@media (max-width: 900px) {.excelprojects{grid-template-columns: 1fr;}}

@media (min-width: 1050px) {.excelprojects{grid-template-columns: 2fr;}}


@media only screen and (min-width:1080px) {body {font-size:1.5rem;}}

@media (max-width: 1000px) {.contacts {flex-direction: column;align-items: center;}}

@media (max-width: 1000px) {.logo {width: 100px;height: 100px; }}

</style>
