html,body{height:100%;width:100%;margin:0;font-size:1.2rem;font-family:serif;word-spacing:0.3rem; line-height:1.5;scroll-behavior: smooth}
body{background:#31FF0D}

.gridcontainer{display:flex;flex-direction:column;word-wrap:break-word;overflow:hidden;gap:0.125rem}

.header{background:linear-gradient(to top, #FFD700 90%, #31FF0D); color:#FF8C00;text-align:center;}
.header h4{margin:0 auto;padding: 0 auto;margin: auto 0}
.header p, .header h4{background: linear-gradient(to bottom, #B23AEE 30%,  #00BFFF);background-clip: text;color: transparent;font-weight:bold}
.logo {display:flex;justify-content: center; margin: 0 auto; max-width: 100px; max-height: 120px;padding:0}

.intro{background:linear-gradient(to top, #FFD700 85%, #31FF0D)}
.intro{text-align: center; color:#1874CD; font-family:serif;word-spacing:2px; line-height:1.5;font-weight:normal; padding-left: 3rem;padding-right: 3rem}
.intro ul{list-style:none ;text-align:center;padding:0}

a {color:#1874CD ; text-decoration: underline;}

.projects h4{text-align:center; background: linear-gradient(to bottom, #B23AEE 30%,  #00BFFF);background-clip: text;color: transparent;padding-bottom:0;margin:0 auto;}
.allprojects{display:grid;grid-template-columns:repeat(2,1fr);grid-template-rows:repeat(1,1fr);gap:0.25rem;}
.excelcard, .powerbicard, .tableaucard, .accesscard,.networkscard{background:linear-gradient(to top, #FFD700 85%, #FF8C00);display: flex;flex-direction: column; justify-content: center;text-align: center;}
.excelcard p, .powerbicard p, .tableaucard p, .accesscard p,.networkscard p{text-align: center; color:#1874CD; font-family:serif;word-spacing:2px; line-height:1.5;font-weight:normal; padding:0 3rem}
.excelcard h4, .powerbicard h4, .tableaucard h4, .accesscard h4,.networkscard h4{color:#FF8C00; font-weight:bold;text-align: center}
.viewbutton{text-align:center ;border-radius: 0.25rem; background: linear-gradient(to bottom, #B23AEE, #00BFFF); color:#31FF0D;padding:0.25rem 1rem 0.25rem 1rem; text-decoration: none;margin: 0 auto;}

.contacts{ background: #FFD700; display:flex;justify-content:center;font-weight:normal;color;#C1C1C1;gap:3 rem}

footer{background:linear-gradient(to bottom, #FFD700 95%, #31FF0D);text-align:center; color:#FF8C00;}
.endsection p{background: linear-gradient(to bottom,#CCCCCC 10%, #1874CD);background-clip: text;color: transparent;font-size:small}



